body {
	overflow-y: scroll;
	height: 100vh;
	display: flex; 
	flex-direction: column;
}

a {
	text-decoration: none;
}


h1 {
	font-family: Nunito-Light;
	font-size: 16px;
}

h2 {
	font-family: Noto_Sans-ExtraLight;
}

h3 {
	font-family: Ceveat-Regular;
}