header {
	width: 100%;
	min-height: 60px;
}

.header-div {
	height: 100%;
	padding: 0 150px;
	display: flex;
	font-family: Nunito-Light;
	font-size: 24px;
	line-height: 60px;
	background-color: #F9EBC8;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.logo-container {
	width: 20%;
}

.logo-container img {
	width: 40px;
	height: 40px;
	vertical-align: text-top;
}

.logo-container #logo {
	color: black;
	font-family: Ceveat-Regular;
	font-weight: bold;
	font-size: 30px;
}

.header-navigators {
	width: 80%;
	text-align: right;
}

.header-navigators a {
	display: inline-block;
	margin-left: 25px;
	color: rgba(0, 0, 0, 0.4);
	transition: all ease 0.5s;
}

.header-navigators a:hover {
	color: rgba(0, 0, 0, 1.0);
	transform: scale(1.3);
	transition: all ease 0.3s;
}