main {
	margin: 20px 200px;
}

main p {
	font-size: 20px;
}

main h1 {
	font-family: Nunito-Light;
	font-size: 24px;
}

main h2 {
	font-family: Nunito-Light;
	font-size: 16px;
}

textarea {
	width: 350px;
	padding: 2px 5px;
	font-family: Ceveat-Regular;
	font-size: 24px;
	background-color: transparent;
	border-style: none solid solid none;
	border-color: rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}

textarea:hover {
	border-color: rgba(0, 0, 0, 1);
}

textarea:focus {
	outline: none;
	border-color: #fa0;
}

.home_link {
	display: flex;
    justify-content: center;
	color: rgba(0, 0, 0, 0.3);
	font-size: 30px;
	font-family: Nunito-Light;
	transition: all ease 0.4s;
}

.home_link:hover {
	transform: scale(1.3);
	color: rgba(0, 0, 0, 1.0);
	transition: all ease 0.3s;
}



.subject {
	padding: 15px 5px;
	border: 1px solid;
	border-style: solid none solid none;
	margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subject .btn-a {
	border-width: 1px;
}

.btn-info {
	display: flex;
	margin: auto 0px;
	color: black;
	opacity: 0.4;
	transition: all ease 0.4s;
}

.btn-info:hover {
	opacity: 1;
	transition: all ease 0.3s;
}

.btn-info img {
	height: 30px;
	width: auto;
}

.btn-info h1 {
	margin: auto 0px;
}

.subject h2 {
	margin-left: 5px;
}

.btns {
	display: flex;
}






.form-add-title {
	margin-bottom: 20px;
}

main form {
	margin-left: 10px;
    display: grid;
    justify-items: start;
}

.input {
	width: 350px;
	padding: 2px 5px;
	background-color: transparent;
	border-style: none none solid none;
	border-color: rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}

.input#sum {
	width: 100px;
}

.input:hover {
	border-color: rgba(0, 0, 0, 1);
}

.input:focus {
	outline: none;
	border-color: #fa0;
}

.btn {
	padding: 5px 10px;
	font-size: 14px;
	font-family: Nunito-Light;
	font-weight: bold;
	border: 2px solid;
	background-color: rgba(0, 0, 0, 0);
	transition: all ease 0.4s;
}

.btn:hover {
	color: rgba(0, 0, 0, 1);
	border-color: #fa0;
	transform: scale(1.2);
	transition: all ease 0.3s;
}

.btn:active {
	border-color: #fa0;
	background-color: #fa0;
}





details summary::-webkit-details-marker {
	display: none
}

details > summary {
	list-style: none;
	display: flex;	
	margin-bottom: 20px;
}

.add-head {
	margin-bottom: 40px;
}

.add-head summary h1{
	cursor: pointer;
	color: rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease;
}

.add-head summary h1:hover {
	transform: scale(1.2);
	color: rgba(0, 0, 0, 1.0);
	transition: all 0.3s ease;
}

.add-head summary h1:focus {
	border-color: #fa0;
}




.todo {
	margin-bottom: 50px;
}

.task {
	margin-bottom: 10px;
	border-width: 2px;
	border-style: none none solid none;
}

.task h2 {
	margin-bottom: 10px;
	font-family: Ceveat-Regular;
	font-size: 26px;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.add-edit {
	display: flex;
}

.btn-a {
	margin: 0 8px;
	padding: 8px 10px;
	color: black;
	font-size: 14px;
	font-family: Nunito-Light;
	font-weight: bold;
	border: 2px solid;
	background-color: rgba(0, 0, 0, 0);
	transition: all ease 0.4s;
}

.btn-a:hover {
	color: rgba(0, 0, 0, 1);
	border-color: #fa0;
	transform: scale(1.2);
	transition: all ease 0.3s;
}

.btn-a:active {
	background-color: #fa0;
	border-color: #fa0;
}






#show {
	display: flex;
	margin: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparent;
	position: fixed;
	text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	backdrop-filter: blur(10px);
	transition: all ease 0.4s;
}

.edit_div .btn-a {
	margin: 0 20px;
}

.edit_div .btn {
	margin: 0 20px;
}

.edit_div {
	display: flex;
}