{{ define "add_page" }}

{{ template "header" }}

    <main>
        <div class="form-add-title">
            <h1>Форма добавления предмета</h1>
        </div>
        <form action="/save/" method="post">
            <input type="text" autocomplete="off" name="subj" id="subj" onchange="check()" onkeyup="check()" oninput="check()" placeholder="Название предмета">
            <input type="number" step="any" min="0" name="sum" id="sum" onchange="check()" onkeyup="check()" oninput="check()" placeholder="Баллы">
            <button class="btn" id="btn">Добавить</button>
        </form>
    </main>

    <script>
        check();
        function check() {
            const input1 = document.getElementById('subj');
            const input2 = document.getElementById('sum');
            const btn = document.getElementById("btn");
            if(input1.value === '' || input2.value === '') {
                btn.style.pointerEvents = 'none';
                btn.style.opacity = 0.3;
            }
            else
            {
                btn.style.pointerEvents = 'auto';
                btn.style.opacity = 1;
            }
        }
    </script>

{{ template "footer" }}

{{ end }}