{{ define "footer" }}

<!-- <footer>
    <div class="footer-div">
        <nav class="footer-navigators">
            
            <h1>Nunito_Light</h1>
            <h2>Noto_Sans_ExtraLight</h2>
            <h3>Ceveat_Regular</h3>
            <a id="subjects" href="/subjects/">SUBJECTS</a>
            <a id="home" href="/">HOME</a>
        </nav>
    </div>
</footer> -->

<script>
    const queryString = window.location.href;
    let a = document.getElementById('home');
    if(queryString.includes("/subjects/"))
    {
        a = document.getElementById('subjects');
        a.style.fontWeight = "bold";
        a.style.color = "black";
    }
    else
    if(queryString.includes("/subject/"))
    {
        
    }
    else
    {
        a.style.fontWeight = "bold";
        a.style.color = "black";
    }
</script>

</body>
</html>

{{ end }}