{{ define "subject_show" }}

{{ template "header" }}

	<main>
        
        <details class="add-head">
            <summary><h1>Добавить задание</h1></summary>
            <!-- <form class="add-form" action="Savetask()" method="post">    
                <input  type="text" autocomplete="off" name="task" id="task" onchange="check()" onkeyup="check()" oninput="check()" placeholder="Задание">
                <button class="btn" id="btn">Добавить</button>
            </form> -->
            
            <span id="form"></span>
            <span id="form_end"></span>
            
        </details>
        
        <script>
            const subj_id = window.location.pathname;
            let id = subj_id.split('/')
            
            let form = document.createElement('form');
            form.action = '/save_task/' + id[2];
            form.method = 'post';
            form.innerHTML = '<textarea autocomplete="off" name="task" id="task" onchange="check()" onkeyup="check()" oninput="check()" placeholder="Задание"></textarea>'
            form.innerHTML += '<button class="btn" id="btn">Добавить</button>';
            document.getElementById('form').append(form);

            check();
            function check() {
                const input = document.getElementById('task');
                const btn = document.getElementById("btn");
                if(input.value === '') {
                    btn.style.pointerEvents = 'none';
                    btn.style.opacity = 0.3;
                }
                else
                {
                    btn.style.pointerEvents = 'auto';
                    btn.style.opacity = 1;
                }
            }
        </script>

		{{ range . }}

            <div class="todo">
                <nav class="task">
                    {{ if .Do }}
                        <del> <h2 class="text" id="{{.Id}}"> {{ .Todo }} </h2> </del>
                    {{ else }}
                        <h2 class="text" id="{{.Id}}"> {{ .Todo }} </h2>
                    {{ end }}
                </nav>

                <nav class="buttons">
                    <nav class="add-edit">

                        <a onclick="show('{{.Id}}', '{{.Todo}}', '{{.SubjectID}}')" class="btn-a">Изменить</a>
                        <a href="/do/{{ .SubjectID }}/{{ .Id }}/{{ .Do }}" class="btn-a">
                            {{ if .Do }}
                                Не делано
                            {{ else }}
                                Сделано
                            {{ end }}
                        </a>
                    </nav>
                    <a href="/del/{{ .SubjectID }}/{{ .Id }}" class="btn-a" style="text-align: right;"> Удалить </a>
                </nav>
            </div>

        {{ else }}
            <h1>Нет заданий</h1>
        {{ end }}

        <span id="edit_form"></span>

        <script>
            function show(id_task, todo, subj_id) {
                const form = document.getElementById("edit_form")
                form.innerHTML = 
                `<form id="show" action="/edit/${subj_id}/${id_task}" method="post">` +
                    `<textarea autocomplete="off" name="task-edit" id="task-edit"` +
                    `placeholder="Задание">${todo}</textarea>` +
                    `<div class="edit_div">` +
                        `<button class="btn" id="btn">Изменить</button>` +
                        `<a onclick="hide()" class="btn-a" id="btn">Отменить</a>` +
                    `</div>` +
                `</form>`;
            }

            function hide() {
                const form = document.getElementById("edit_form");
                form.innerHTML = ""
            }
        </script>

	</main>

{{ template "footer" }}

{{ end }}